<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Resilent Webservices</title>
<link rel="stylesheet" href="jquery-ui.css" />
<script src="jquery-1.9.1.js"></script>
<script src="jquery-ui.js"></script>
<script type="text/javascript">
	var currentParam = "";
	$(function() {
		 $("#catchWords").dialog({
			 autoOpen: false,
			 height: 480,
			 width: 550,
			 modal: true,
			 buttons: {
				 Cancel: function() {
					 $(this).dialog("close");
				 },
				 OK: function() {
					 $("#" + currentParam).val($("#config").val());
					 $(this).dialog("close");
				 },
				 
			 }
		 });
	});
	
	function configureCatchWords(param) {
		currentParam = param;
		$("#config").val($("#" + param).val());
		$("#catchWords").dialog("open");
	}
</script>
</head>
<body>
<h1>Monitor Configuration</h1>
<p>${subheading}</p><br />
<form action="MonitorConfig" method="post">
<label for="version">Version:</label>
	<input id="version" name="version" type="text" value="${value_version}" placeholder="Version of your web service"/>
<br /><br />
<label for="hwconfig">Your server's hardware configuration:</label><br />
	<textarea id="hwconfig" name="hwconfig" placeholder="E.g. Output of lspci on Linux" cols="80" rows="20">${value_hwconfig}</textarea>
<br /><br />
<label for="swconfig">Your server's software configuration:</label><br />
	<textarea id="swconfig" name="swconfig" placeholder="E.g. Output of rpm -qa or dpkg -l on Linux" cols="80" rows="20">${value_swconfig}</textarea>
<br /><br />
<input type="hidden" name="service" value="${service}" />
<!-- $beginBlock method -->
<h2>${name}</h2>
<input type="checkbox" id="${idprefix}_s" name="${name}_skip" value="1"/>&nbsp;<label for="${idprefix}_s">Skip (Use when response is not deterministic)</label>
<!-- $beginBlock param -->
<h3>Parameter: ${param}</h3>
<input required="required" type="radio" id="${idprefix}_0" name="${name}_${param}" onclick="$('#${idprefix}_cfg').toggle(false)" value="${empty}"/>&nbsp;<label for="${idprefix}_0">Empty</label>
<input required="required" type="radio" id="${idprefix}_1" name="${name}_${param}" onclick="$('#${idprefix}_cfg').toggle(false)" value="${number}"/>&nbsp;<label for="${idprefix}_1">Number</label>
<input required="required" type="radio" id="${idprefix}_2" name="${name}_${param}" onclick="$('#${idprefix}_cfg').toggle(false)" value="${word}"/>&nbsp;<label for="${idprefix}_2">Word</label>
<input required="required" type="radio" id="${idprefix}_3" name="${name}_${param}" onclick="$('#${idprefix}_cfg').toggle(true)" value="${other}"/>&nbsp;<label for="${idprefix}_3">Other</label>
<input type="button" style="display:none" onclick="configureCatchWords('${idprefix}_data')" id="${idprefix}_cfg" value="Configure" />
<input type="hidden" value="" id="${idprefix}_data" name="${name}_${param}_data" />
<br />
<!-- $endBlock param -->
<!-- $endBlock method -->
<br />
<input type="submit" value="Generate Resilent Service" />
</form>

<div id="catchWords" title="Configure Paramater Values" >
	<p>Enter some possible values below, one per line.</p>
	<form>
		<textarea style="width:500px; height: 250px" id="config"></textarea>
	</form>
</div>

</body>
</html>
